<!--The content below is only a placeholder and can be replaced.-->
<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<!-- Collect the nav links, forms, and other content for toggling -->
<spinner></spinner>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
                <button type="button" 
                        class="navbar-toggle collapsed"
                        (click)="toggleState()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Donde lo venden</a>
        </div>
         <div class="collapse navbar-collapse"
              [ngClass]="{ 'in': isIn }">
              <ul class="nav navbar-nav">
                  <li routerLinkActive="active"><a routerLink="/lugares">Inicio <span class="sr-only">(current)</span></a></li>
                  <li routerLinkActive="active"><a routerLink="/contacto">Contacto</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right" *ngIf="!loggedIn">
                  <li><a routerLink="/login">Login</a></li>
                  <li><a routerLink="/registro">Registro</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right" *ngIf="loggedIn">
                <li *ngIf="loggedUser"><a> Hola! {{loggedUser}}</a></li>
                <li><a (click)="logout()">Logout</a></li>
              </ul>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>

